.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    padding: 53px 0;
}

.section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
}

@media (width < 600px) {
    .section {
      margin-top: 50px;
      gap: 20px;
    }
  
    
  }