.cards_container {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
    margin-bottom: 30px;
}

.section {
    margin-top: 100px;
}